<PageTitle>Not found</PageTitle>
<LayoutView Layout="@typeof(MainLayout)">
    <h1 class="text-danger text-center"> Not Found 404</h1>
    <div class="col-6 offset-3 alert-danger">
       <h3> No se pudo encontrar la pagina que desea, vuelva al inicio</h3>
    </div>
</LayoutView>
@code {

}
